name: Build MacOS
on: [workflow_dispatch]
jobs:
  build:
    runs-on: macos-12
    steps:
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '13.1.0'
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Build mklittlefs Mac86
      run: |
        rm -f *.json *.gz *.zip
        pfx=x86_64-apple-darwin20
        AHOST=x86_64-apple-darwin TARGET_OS=osx CC=gcc CXX=g++ STRIP=strip make clean mklittlefs BUILD_CONFIG_NAME="-arduino" CPPFLAGS=""
    - name: Package mklittlefs Mac86
      run: |
        name=mklittlefs-$(git rev-parse --short HEAD)
        mkdir -p tmp/mklittlefs
        mv mklittlefs tmp/mklittlefs/.
        cd tmp
        zip -rq ../x86_64-apple-darwin-${name}.zip mklittlefs
        cd ..
        rm -rf tmp
    - name: Upload mklittlefs Mac86
      uses: actions/upload-artifact@v4
      with:
        name: x86_64-apple-darwin-mklittlefs.zip
        path: x86_64-apple-darwin-mklittlefs-*.zip
